

body {
    font-family: monospace;
}

input {
    font-size: x-large;
    width: 200;
}

button {
    width: 75px;
    height: 50px;
    font-size: x-large;
}

#result {
    background-color: white;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-body {
    background-color: lightgreen;
    padding: 100px;
}