*{
    border: 1px solid black
}
body{
    display: flex;
    justify-content:space-between;
}
.calculator-body{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color:rgb(217, 218, 213);
}
.result-container{
    width: 90%;
    height: 30%;
    background-color:rgb(70,69,65);
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin: 0 auto;
}
p{
    width: 70%;
    height:70%;
    background-color:rgb(163,174,177);
    margin: 0 auto;
    font-size:3em;
    font-family: 'Wallpoet', cursive;
    text-align:right;
}
.input-container{
    width:90%;
    height: 20%;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
form{
    width:90%;
    height:90%;
    display:flex;
    justify-content:space-between;
    background-color:rgb(255,99,87);
    margin: 0 auto;
}
input{
    width:35%;
    height:80%;
    margin: auto auto;
    background-color:rgb(217, 218, 213);
    font-size:3em;
    font-family: 'Wallpoet', cursive;
    text-align:right;
}
.operator-container{
    width:90%;
    height: 35%;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
button{
    width: 40%;
    height: 40%;
    background-color:rgb(139,138,133);
    margin: auto auto;
}
@media screen and (orientation:portrait) {
    .calculator-body{
        width: 80vw;
        height: 50vh;
    }
  }