*,
body {
   font-family: 'VT323', monospace;
   outline: none;
   padding: 0;
   margin: 0;
}

.main {
   background: #0c162a;
}

.wrapper {
   font-family: 'VT323', monospace;
   justify-content: center;
   max-width: 1200px;
   margin: 0 auto;
   min-height: 100vh;
   align-content: center;
   display: flex;
}

.inner-wrapper {
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.form {
   display: flex;
   justify-content: center;
   width: 600px;
   height: 600px;
   border: 2px solid black;
   border-radius: 10px;
   margin: 75px auto;
   background-color: rgb(212, 205, 108);
   -webkit-box-shadow: 15px 15px 0px 5px rgba(99, 95, 52, 1);
   -moz-box-shadow: 15px 15px 0px 5px rgba(99, 95, 52, 1);
   box-shadow: 15px 15px 0px 5px rgba(99, 95, 52, 1);
}

.welcome {
   justify-content: center;
   color: #FFC107;
   margin-top: 4rem;
}

.scale-in-center {
   visibility: visible;
   animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
   0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
   }
   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
   }
}

.welcome_text {
   font-size: 50px;
   text-align: center;
}

.input_wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-around;
   margin-bottom: 3rem;
}

.box-container {
   width: 80%;
   height: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.result-container {
   width: 100%;
   height: 120px;
   margin: 3rem;
}

.result-container p {
   color: darkgray;
   min-height: 120px;
   font-size: 90px;
   text-align: center;
   line-height: 120px;
   border: 2px solid black;
   border-radius: 5px;
   background-color: darkslategray;
   box-shadow: 15px 15px 0px 5px rgba(21, 36, 36, 1);
}

.input-container input,
button {
   width: 180px;
   height: 60px;
   background-color: rgba(229, 190, 1);
   font-size: 25px;
   text-align: center;
   border: 2px solid black;
   border-radius: 5px;
   box-shadow: 15px 15px 0px 5px rgba(97, 54, 12, 1);
}

::placeholder {
   color: darkslategrey;
}

.button_wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-around;
}

#calculator-a {
   margin-right: 30px;
}

#sum_btn,
#product_btn,
#subtraction_btn,
#divide_btn {
   background-color: #ff99ee;
   transition: all .25s ease-in-out;
   margin-bottom: 25px;
}

#sum_btn,
#subtraction_btn {
}

#sum_btn:hover,
#product_btn:hover,
#subtraction_btn:hover,
#divide_btn:hover {
   background-color: #5454ff;
}

#sum_btn:active,
#product_btn:active,
#subtraction_btn:active,
#divide_btn:active,
.clear:active {
   transform: translate(5px, 5px);
}

.result_wrap,
.clear_btn_wrap {
   display: flex;
   justify-content: center;
}

.clear_btn_wrap {
   display: flex;
   margin-top: 10px;
}

.clear {
   border-radius: 10px;
   font-size: 20px;
   padding: 10px;
   transition: all .25s ease-in-out;
}


/* JACOBO */

/* .box-container {
   width: 80%;
   height: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.result-container {
   width: 100%;
   height: 120px;
   margin: 3rem;
}

.result-container p {
   color: darkgray;
   min-height: 120px;
   font-size: 90px;
   text-align: center;
   line-height: 120px;
   border: 2px solid black;
   border-radius: 5px;
   background-color: darkslategray;
   box-shadow: 15px 15px 0px 5px rgba(21, 36, 36, 1);
}

.input-container input,
button {
   width: 180px;
   height: 60px;
   background-color: rgba(229, 190, 1);
   font-size: 25px;
   text-align: center;
   border: 2px solid black;
   border-radius: 5px;
   box-shadow: 15px 15px 0px 5px rgba(97, 54, 12, 1);
}

::placeholder {
   color: darkslategrey;
}

.operator-container input {
   width: 100%;
   height: 100%;
   background-color: rgba(229, 190, 1);
   font-size: 30px;
   border: 2px solid black;
   border-radius: 5px;
   -webkit-box-shadow: 15px 15px 0px 5px rgba(97, 54, 12, 1);
   -moz-box-shadow: 15px 15px 0px 5px rgba(97, 54, 12, 1);
   box-shadow: 15px 15px 0px 5px rgba(97, 54, 12, 1);
} */